.top-bar{
  background-color: $nav-back;
  ul{
    background-color: $nav-back;
  }
  .menu-text{
    color: $nav-text-color;
  }
  .menu > .menu-text > a{
    display: inline;
    padding: 0;
  }
  .active-link{
    font-weight: bold;
  }
}
